#ignore all outputs 
FCT_Model/outputs/*.csv
.venv/*
.python-version
.vscode/*
Data_Processing/outputs/*.csv
Data_Processing/outputs/*.png
Data_Processing/outputs/*.db
Data_Processing/outputs/network/*
FCT_Model/props/model/model-*
FCT_Model/props/model/test_parameters/*.yaml
*.txt
/Users/sebastianozuddas/Programming/Python/FCT_Python/Data_Processing/outputs